@import 'theme/variable';
@import 'theme/mixin';

.ordersTableTitle{
    @include table;   
}
.ordersTableDetails {
    @include table;
    position:relative;

    &::after{
        @include underline;  
        height: 1px;
        background-color:$light-grey;
    }  
    li {
       @include margY;
    }
    .closeIcon {
        transition: transform 0.2s ease-in-out;
    }
    .openIcon {
        transform: rotate(-180deg);
        transition: transform 0.2s ease-in-out;
        color:$purple-color;
    }
}
