@import '../../../theme/globalStyle.scss';
@import '../../../theme/variable';
@import '../../../theme/mixin';

.container {
  @include container;
  background-color: $dark-color;
  height: 300px;
  color:$medium-color;

  h4{
    color:$white-color;
    font-weight: $bold-weight;
    font-size: $bigfont-size;
  }
}

.wrapper {
  @include wrapper;
  background-color: red;;
}