@import '../../../theme/mixin';
@import '../../../theme/variable';

.social-list{
    list-style-type: none;
    height:40px;
    padding-left:0px;
    text-align:center;
    margin-top:20px;
   & li {
        padding: 0px 10px 0px 10px;
        float:left;
        margin:0px;
          .linki 
           {
            @include links ;
            }
            .MuiSvgIcon-root
                {
                  @include effect-icon;
                 }
            }
        }
        

