@import 'theme/variable';
@import 'theme/mixin';

.container{
    @include container;
    @include box-center;
    justify-content:center;
     
}
.wrapper{
    @include wrapper;
    @include box-center;
    margin: 100px 0px 100px 0px;
    display: flex;
	flex-wrap: wrap;
    height:600px;

      h2{
        color:$medium-color;
        font-weight:$light-weight;    
    }  
}
.form-wrapper{
    text-align:center;
    border: 1px solid #e6e6e6;
    width:40%;
    height: 100%;
    @include margY;

    .field{
       height:100%;
       min-height: 60px;
    }
    
    .form-field{
     margin-top:10%;
    }

    p {
       @include error-mes;
       
    } 
      .in-contact{
         @include in-contact;
    }
      .in-text{
         @include in-contact;
         height:100px;
         resize: none;
    }
  
}
  .btn-form{
        @include btn-main;
        background-color: $dark-color;
        color: $white-color;
        width: 80%;
        margin-top: 20px;
        
        &:hover{   
           @include hov-one;
            background-color: $purple-color;
            color: $white-color;       
        }
    }
.form-context{
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 105px 50px 110px 50px;
    height: 100%;

     ul {
       margin:0px;
     }
     li{
         list-style-type:none;
         
       .text-section{
           display:flex;
    
           .icon-contact{
               text-align:center;
               @include margY;
               margin-right:10px;
               color: $medium-color;
           }
       }
            p{
                text-align:left;
                margin-top:0px;
                padding-left:30px;   
            }
            h2{
                color:$purple-color;
            }
     }
}

@media screen and  (max-width: 1350px){
    .wrapper{
        width:100%;
        padding:0px;
        height:600px;
    } 
}
@media screen and  (max-width: 970px){
    .wrapper{
        width:90%;
        height:auto;
    }
    .form-wrapper{
       width:100%;

       .btn-form{
           margin-bottom:25px;
       }
    }
    .form-context{
        margin-top:20px;
        padding: 55px 75px 55px 75px;
    }
}
@media screen and  (max-width: 450px){
      .form-context{
         padding: 0px;
    }
}