@import 'theme/variable';
@import 'theme/mixin';


.prev-icon {
  @include nexticon;
    left: 20px;
 
}
.next-icon{
  @include nexticon;
  right: 20px;
  top: 50%;

}
.wrapper-slides { 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  overflow: hidden;
  height:100%;
  position: relative;
  transition: opacity ease-in-out 0.4s;


 }

 @media screen and (max-width: 500px) {
  .wrapper-slides{
    height:400px;
    width:100%;
  }
 }