.prev-icon {
    left: 10px;
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: #000000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.next-icon{
  right: 10px;
  position: absolute;
  top: 50%;
  font-size: 15px;
  color: #000000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.wrapper-slides { 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  overflow: hidden;
  position: relative;

 }

 @media screen and (max-width: 500px) {
  .wrapper-slides{
    height:400px;
  }
 }