@import '../../../theme/variable';


.navbar {
    
    width:100%;
    z-index: 99999;
    position: sticky;
    color: $white-color;
    background-color: transparent;
    display:flex;
    height:65px;
    text-align: center;
    .logo{
      justify-content: center;
      cursor: pointer;
      display: flex;
      align-items: center;
  }
  .nav-menu {
    display: grid;
  grid-template-columns: repeat( 5, 2fr) ;
  grid-gap: 25px;


  .nav-item{
    text-align: center;
  }
}
}



