@import '../../../theme/variable';
@import '../../../theme/mixin';

.navbar {
  margin: 15px auto auto auto;
  z-index: 99999;
  position: sticky;
  color: $white-color;
  justify-content: center;
  display: flex;
  height: 65px;
  text-align: center;
  font-size: $bigfont-size;
  width: 70vw;

  .logo {
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 25px;
  margin-top: 15px;
  list-style-type: none;

  .nav-items {
    text-align: center;
    cursor: pointer;
  }
}
.nav-links {
  @include links;
  color:$light-color;

  &.active{
    @include activeLink;
  }
}
.menu-icon {
  display: none;
  color: $dark-color;
}


@media screen and (max-width: 960px) {
  .logo {
    margin-left:20px;
  }
  .navbar {
    width: 100%;
    margin: 0px;
    position: relative;
  }
  .nav-menu {
    overflow: visible;
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    top: 70px;
    padding: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: $purple-color;

    &.active {
      height:auto;
      display: block;
      left: 0%;
      opacity: 1;
      z-index: 1;
      padding: 71px 0px 71px 0px;
      color:white;
      margin-top:-5px;
    }

    .nav-items:after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: width 0.7s ease, background-color 0.5s ease;
    }
    .nav-items:hover:after {
      width: 100%;
      background: $purple-color;
    }
  }
  .nav-items {
    width: 100%;
    padding: 20px 0px 20px 0px;

    &:hover {
      background-color: $inner-color;
    } 
  .nav-links {
    color:$white-color; 
  }
}
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 1230px) {
  .navbar{
    width:100%;
  }
  .nav-menu {
    grid-template-columns: repeat(5, 2fr);
  }
}
