@import 'theme/variable';
@import 'theme/mixin';

.wrapper-loading {
	padding: 10px;
	border-radius: 4px;
	height: 125px;
	margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}
.row-loading {
	width: 32px;
	height: 32px;
	clear: both;
	margin: 20px auto;
}
.sr-only{
	margin-left:-20px;
	letter-spacing: 1px;	
}

.icon-loading {
	position: relative;
	width: 10px;
    height:30px;
	border: 1px $purple-color solid;
	background-color: rgba($purple-color,1);
	-webkit-animation: iconLoading 1s infinite linear;
	animation: iconLoading 1s infinite linear;
}
.icon-loading:after, .icon-loading:before {
	content:'';
	position: absolute;
	width: inherit;
	height: inherit;
	border: inherit;
	background-color: inherit;
	top: -1px;
}
.icon-loading:before {
	left: -20px;
	-webkit-animation: iconLoadingBefore 1s infinite linear;
	animation: iconLoadingBefore 1s infinite linear;
}
.icon-loading:after {
	right: -20px;
	-webkit-animation: iconLoadingAfter 1s infinite linear;
	animation: iconLoadingAfter 1s infinite linear;
}
@keyframes iconLoadingBefore {
	0% {
		transform: scale(1,1);
	}
	25% {
		transform: scale(1,1.25);
	}
	50% {
		transform: scale(1,0.75);
	}
	75% {
		transform: scale(1,1);
	}
	100% {
		transform: scale(1,1);
	}
}
@keyframes iconLoading {
	0% {
		transform: scale(1,1);
	}
	25% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1,1.25);
	}
	75% {
		transform: scale(1,1);
	}
	100% {
		transform: scale(1,1);
	}
}
@keyframes iconLoadingAfter {
	0% {
		transform: scale(1,1);
	}
	25% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1,0.75);
	}
	75% {
		transform: scale(1,1.25);
	}
	100% {
		transform: scale(1,1);
	}
}
