@import 'theme/mixin';
@import 'theme/variable';

.wrapper-userpanel{
    @include wrapper;
    width:100%;
    padding:0px;

    .wrapper-userOrder{
        width: 100%;
        // display: grid;
        grid-template-columns: 40% 60%;
        position: relative;
        margin-bottom: 25px;
    
        &::after{
            @include underline;  
        }  
        h3{
            font-size: $smallfont-size;
            font-weight: $light-weight;
            color: $medium-color;
            margin: 0px 4px;
        }
    }
}

.customer-account-content
{
    width:100%;
    h1 {
        font-size: $bigfont-size;
        margin-bottom:25px;
        position: relative;
        font-weight: 600;
        color: $purple-color;

        &::after{
            @include underline;  
        }   
    }
}
@media screen and (max-width: 813px) {
    .wrapper-userpanel{
        display: block;
        height:auto;
   
    }
  }



