@import 'theme/variable';
@import 'theme/mixin';



.account-form{
    display: grid;
    grid-gap: 10px;
    margin: auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0,0,0,0.2);
    width:400px;
    background-color: white;
    @include margX;
    @include margY; 
}

  .btn-row{
    margin-top:20px;
        :nth-child(2) {
            background-color: $lightblue-color;
            margin-top:10px;
        }
  }
.btn-formLog{
    @include btn-main;
    text-transform: none;
    color: $white-color;
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 32px 64px rgba(0,0,0,0.2);    
    @include margY;
    display: flex;
    align-items: center;
    justify-content: center;

   .MuiSvgIcon-root {
       margin-right: 10px;
   }
    &:hover{   
       @include hov-one;
        background-color: $inner-color;
    } 
}
.login-link{
 @include links;
 color: $purple-color;
 text-align: end;
 font-size: $minfont-size;
 text-decoration: underline;
}
.error-message{
    @include error-mes;
    margin: -6px 0px 10px 15px;
    font-weight: $light-weight;   
}
.login-link{
    p{
        margin-top: -20px;
        margin-bottom: 25px;
    }
}
.section-reg {
    font-size: $smallfont-size;
    color:$light-color;
    text-align:center;
    font-weight:$bold-weight;
    margin-top:25px;

    .btn-switch{
        @include links;
        text-decoration: underline;
        border: none;
        font-size:15px;
        font-weight: bold;;
    }
}
@media screen and  (max-width: 450px){
    .account-form{
       width:90%;
  }
}