@import 'theme/variable';
@import 'theme/mixin';

.wrapper-blogItems{
    @include wrapper;
    text-align: center;
    margin:50px auto 50px auto;
    margin-top: 50px;

    img {
       margin: 20px 0px 20px 0px;
        width: 100%;     
    }
    .text-blog{
        text-align: justify;
    }
    h2 {
        letter-spacing: 2px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1100px) {
    .wrapper-blogItems{
        width:100%;
    }
    img{
        width:auto;
        object-fit:scale-down;
    }
}
@media screen and (max-width: 560px) {
    .wrapper-blogItems{
        width:100%;
        padding:10px;
        h2{
            font-size:$smallfont-size;
        }
    }
        img{
            width:100%;
            object-fit: scale-down;
        }
}
@media screen and (max-width: 450px) {
    .wrapper-blogItems{
        width:100%;
        padding:10px;
        margin-top:0px;
    }
        img{
            width:100%;
            object-fit: scale-down;
        }
}