@import 'theme/variable';
@import 'theme/mixin';

.formField{
  border:none;
  width: 360px !important;
  position: absolute;
}
.input-field{
  border:none;
  width: 80%;
  border-bottom: 1px solid $light-color;
  margin-bottom: 20px;
  position:relative; 
}
.label-field {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: $medium-color;
  position:relative;
}
