@import 'theme/mixin';
@import 'theme/variable';

.wrapper-user{
    padding:0px;
    margin: 50px auto 50px auto;
    @include wrapper;
    width:70%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.nav-item{ 
    padding: 0px 10px 0px 10px;
    color: $dark-color;
    justify-content: flex-end;
      .nav-link
      {
        text-decoration: none;
        color: $dark-color;
         &:hover{
            @include activeLink;
          }      
        &.active{
            @include activeLink;
          }
  }
}
@media screen and (max-width: 1230px) {
  .wrapper-user{
    width:100%;
    display: block;
  }
  icon-row{
    margin:auto;
  }
}
@media screen and (max-width: 350px) {
  .nav-link {
    font-size: $minfont-size;
  }
}

