@mixin container {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
// @media screen and (max-width: 991px) {
//   padding-right: 30px;
//   padding-left: 30px;

@mixin wrapper {
  height: auto;
  width: 80%;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
}


@mixin containerModal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(35, 31, 32, 0.4);
  z-index: 10000;
  transition: opacity .3s;
  justify-content: center;
  height: 100%;
}
@mixin wrapperModal {
  position: static;
  z-index: 9999999;
  overflow: hidden;
  align-items: center;
  -webkit-animation: showSweetAlert .3s;
  animation: showSweetAlert .3s;
  box-sizing: border-box;   

}

@mixin links {
  color: $dark-color;
  text-decoration: none;
  padding: 0.5 rem 1rem;

  &:hover {
    color: $purple-color;
    transition: all 0.2s ease-out;
  }
}
@mixin activeLink{
  color: $purple-color;
  font-weight: $bold-weight;
}
@mixin header{
     transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); 
}

@mixin icon {
  text-decoration: none;
  color: $dark-color;

  &:hover {
    color: $purple-color;
  }
}

@mixin btn-main {
  display: inline-block;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $purple-color;
  padding: 10px 23px;
  cursor: pointer;
  font-size: $smallfont-size;
  color: $white-color;
  font-weight: $bold-weight;
  border: none;
  transition: all 0.9s ease;
}

@mixin hov-one {
  transition: all 0.3s ease-out;
  background-color: $white-color;
  color: $purple-color;
  transition: all 0.9s ease;
}
@mixin btn-dark {
    display: inline-block;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $dark-color;
  padding: 10px 23px;
  cursor: pointer;
  font-size: $smallfont-size;
  color: $white-color;
  font-weight: $bold-weight;
  border: none;
  transition: all 0.9s ease;
}
@mixin btn-second {
  display: inline-block;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $white-color;
  padding: 10px 23px;
  cursor: pointer;
  font-size: $smallfont-size;
  color: $dark-color;
  font-weight: $bold-weight;
  border: none;
  transition: all 0.9s ease;
}

@mixin hov-second {
  transition: all 0.3s ease-out;
  background-color: $dark-color;
  color: $white-color;
  border: none;
  transition: all 0.9s ease;
}

@mixin margY {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin margX {
  margin-left: auto;
  margin-right: auto;
}

@mixin box-center{
  justify-content: center;
  align-items: center;
  display: flex;
}
@mixin box-effect {
  box-shadow: 5px 10px 44px 5px rgba(0,0,0,0.55);
-webkit-box-shadow: 5px 10px 44px 5px rgba(0,0,0,0.55);
-moz-box-shadow: 5px 10px 44px 5px rgba(0,0,0,0.55);
}
@mixin effect-icon {
    color:$light-color;
    &:hover {
        color:$purple-color;
    } 
}
@mixin img-position{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@mixin img-effect{
  transition: transform 1.5s ease-out;
  
  &:hover{
    transform: scale(1.1);
  }
}
@mixin in-contact {
  width: 80%;
  height: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-family: 'Poppins', sans-serif;
  margin-bottom:10px;
 
&::placeholder{
  margin-left: 15px;
  font-size: $smallfont-size;
  padding-left: 20px;     
}
}
@mixin image-effect{
      transition: all 0.3s;
      display: block;
      transform: scale(1);
      &:hover {
        transform: scale(1.1);
      }
}
@mixin error-mes{
  margin: -6px 0px 15px 65px;
  height:12px;
  padding:0px;
  color:$error-color;
  font-size:$minfont-size;
  text-align: start;
}
@mixin underline{
  position: absolute;
  content: '';
  height: 2px;
  bottom: -10px; 
  left: 0;
  right: 0;
  background: $light-color;    
}