@mixin container {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
// @media screen and (max-width: 991px) {
//   padding-right: 30px;
//   padding-left: 30px;

@mixin wrapper {
  height: auto;
  width: 80%;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
}

@mixin links {
  color: $dark-color;
  text-decoration: none;
  padding: 0.5 rem 1rem;

  &:hover {
    color: $purple-color;
    transition: all 0.2s ease-out;
  }
}

@mixin icon {
  text-decoration: none;
  color: $dark-color;

  &:hover {
    color: $purple-color;
  }
}

@mixin btn-main {
  display: inline-block;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $purple-color;
  padding: 10px 23px;
  cursor: pointer;
  font-size: $smallfont-size;
  color: $white-color;
  font-weight: $bold-weight;
}

@mixin hov-one {
  transition: all 0.3s ease-out;
  background-color: $white-color;
  color: $purple-color;
}

@mixin btn-second {
  display: inline-block;
  border-radius: $button-border-radius;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $white-color;
  padding: 10px 23px;
  cursor: pointer;
  font-size: $smallfont-size;
  color: $dark-color;
  font-weight: $bold-weight;
}

@mixin hov-second {
  transition: all 0.3s ease-out;
  background-color: $dark-color;
  color: $white-color;
}

@mixin margY {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin margX {
  margin-left: auto;
  margin-right: auto;
}
