
@mixin container {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // padding-right: 50px;
  // padding-left: 50px;
}
  // @media screen and (max-width: 991px) {
  //   padding-right: 30px;
  //   padding-left: 30px;


@mixin wrapper {
  height: auto;
  width: 70vh;
  margin: auto;
}
