// Colors
$purple-color: hsl(232.4, 64.2%, 66.1%);
$inner-color: rgb(72, 88, 193);
$lightblue-color:#23A6D5;
$dark-color: hsl(0, 0%, 13.3%);
$light-color: hsl(0, 0%, 60%);
$medium-color: hsl(0, 0%, 40%);
$white-color: hsl(0, 100%, 100%);
$error-color: 	hsl(0, 100%, 50%);
$border-light: #e6e6e6;
$lightgray-color: rgba(232, 221, 221, 0.858);
$green-color: rgb(11, 180, 7);



// Globals
$largefont-size: 50px;
$bigfont-size: 20px;
$smallfont-size: 15px;
$minfont-size: 12px;
$light-weight: 300;
$large-weight: 900;
$bold-weight: 600;
$line-height: 1.466667;

// Button-Radius
$button-border-radius: 25px;