@import 'theme/variable';
@import 'theme/mixin';

.box-orderL {
    display: flex;
    width:100%;

    .box-about {
        width:100%;
    }
    .product-price{
        color: $purple-color;
    }
}
.mr-order {
  h2 {
      font-size: $smallfont-size;
      font-weight: 600;
  }
       justify-content: space-between;
        display: flex;
            .MuiSvgIcon-root {
                margin-top:22px;
            }
}
.box-quality{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px 5px 0px 5px;
}

@media screen  and (min-width: 200px) and (max-width:500px) {
    .box-orderL  {
        display:block;
    .img-order{width:100%;}
    }
     .box-quality {
         margin-top:-30px;
     }
    }
    