@import 'theme/variable';
@import 'theme/mixin';



.formField{
  
  border:none;
  width: 360px !important;
background-color: yellowgreen;
height:50px;
position: absolute;
height:100px;

}

.input-field{
  border:none;
  width: 100%;
  border-bottom: 3px solid $medium-color;
  margin-bottom: 20px;
  position:relative;


  
}

.label-field {
  width: 360px !important;
font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: $medium-color;
  position:relative;



}

// .input-field {
// padding: 10px 12px;
// box-sizing: border-box;
// box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.09);
// border-radius: 25px;
// &:focus {
//   outline: none;
//   box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.3);
// }
