@import 'theme/variable';
@import 'theme/mixin';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
.wrapper-modal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: $white-color;
  padding: 20px;
  margin-top:30px;
  left: 100px;
  width: 90%;
  height: 80%;
  @include box-effect;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.section-image {
  width: 50%;
  display: flex;
  justify-content: center;
 
  .presentation-img {
      width: 470px;
    .imgModal {
        @include img-position;
        &:hover{
          transform:none;
        }
    }
}
}
.modal-box{
  margin-top:55px;
}
.section-add {
  width: 50%;
}
.close-modal{
  top: 9%;
  left:95%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    :hover{
      @include box-effect;
      color: $purple-color;
    }
}
.filter-size{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-bottom: 40px;
    h4 {
      margin: 0px 30px 0px 0px;
      padding: 10px;
      }
}
.filter-color{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 40px;
  justify-content: center;
  h4 {
    margin: 0px 30px 0px 0px;
    padding: 5px;
  }
}
.selected-products{
  height: 40px;
  width: 250px;
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}
.option-products{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.section-option{
  margin-top: 70px;
  color: $light-color;
  text-align: center;
}
.btn-modal {
  margin-top: 40px;
  height: 45px;
  @include btn-main ;

  &:hover{
    @include btn-dark;
  }
}
.add-section{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .wrapper-modal{
    height:75%;
    margin:5% auto;
    max-height: 57em;
    max-width:66em;
    width:85%;
        
    display: block;
     .section-image {
       width:100%;
       margin-bottom:50px;
     }
     .section-add{
       width:100%;
     }
  }
  .close-modal{
    top:16%;
    left:92%;
  }
}
.row-submodal {
  align-items: center;
}
@media screen and (max-width: 870px) {
  .wrapper-modal{
     width:100%;
     left:0px; 
     margin: 6% auto;
  }
  .selected-products{
    width:200px;
  }
  .btn-modal{
    font-size: 13px;
  }
  .imgModal{
    @include img-position;
    height:auto;
  }
  .close-modal{
    top: 14%;
    left: 96%;
     margin-bottom:5px;
  }
}



@media screen and (max-width: 415px){
  .close-modal{
    top:13%;
    left:93%;
    margin-bottom:5px;
  }
}

// @media screen and (min-width: 1300px) {

//   .wrapper-modal {
//     height:80%;
//     margin-top:20px;

//   }
// }