@import '../../../theme/variable';
@import '../../../theme/mixin';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: #000;
  // opacity: 0.8;
  display: block;
}
.wrapper-modal {
  @include margX;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: $light-color;
  // margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  // height: 70%;

  opacity: 1;
  display: flex;
  flex-flow: row wrap;
}
.section-image {
  width: 50%;
  display: flex;
  justify-content: center;
 

  .presentation-img {
  height: 500px;

   .imgModal {
      width: 470px;
      height: 630px;
      // position:none;
      // padding:40px;

      &:hover{
        transform:none;
      }
    }
}

}

.section-add {
  width: 50%;
}

