@import '../../../theme/variable';
@import '../../../theme/mixin';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: #000;
  // opacity: 0.8;
  display: block;
}
.wrapper-modal {
  @include margX;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: $light-color;
  // margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 70%;

  opacity: 1;
  display: flex;
  flex-flow: row wrap;
}
.section-image {
  width: 50%;
  display: flex;

  .small-sectionImg {
    width: 90px;
    padding: 0px;
    list-style-type: none;
    .presentation-img {
      width: 100%;
      height: 70px;
      margin: 0px 0px 20px 0px;
    }
    .modal-img {
      width: 90px;
      height: 70px;
    }
  }
}

.section-add {
  width: 50%;
}
