@import 'theme/variable';
@import 'theme/mixin';


.icon-item{
    float: left;
    padding: 0px 10px 0px 10px;
    color: $dark-color;
    justify-content: flex-end;

      .item-link
      {
        text-decoration: none;
        color: $dark-color;
        position:relative;
          &:hover{
            @include activeLink;
          }      
          &.active{
            @include activeLink;
          }      
  }
}