@import '../../../theme/variable';

.IconWrapper{
  height: 84px;
  margin: 0px;
  flex-grow: 1;
  cursor: pointer;

  // @media screen and (max-width: 960px){
  //   width:80%;
    
  // }

  .IconRow{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    @media screen and (max-width: 960px){
      width:90%;
      
    }
   
  }

    .IconItem{
    float: left;
    padding: 0px 10px 0px 10px;
    color: $dark-color;
    justify-content: flex-end;


      .ItemLink
      {
        text-decoration: none;
        color: $dark-color;

          &:hover{
            color: $purple-color;
          }
          
  }


  

}
}