@import 'theme/variable';
@import 'theme/mixin';

.wrapper-cardPay{
    background-color: $bg-light;
    margin: 0px;
    width: 100%;
    padding: 60px 120px;
    margin-left: 30px;
    font-size: $smallfont-size;
}
.row-pay{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4px;
    list-style-type: none;
    padding-left: 0px;
    font-size: initial;

    .item-pay {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        h2 {
            font-size: 15px;
            font-weight: 600;
           
        }
        .inner-color{
            color: $purple-color;
            font-weight: 600;
            display: flex;
            align-items: center;

            .MuiSvgIcon-root{
                margin-left: 4px;
            }
        }
    }
}
.btn-none{
    @include btn-none ;
    .MuiSvgIcon-root{
        font-size: $smallfont-size;
    }
}
.btn-order {
    @include btn-dark;
    border-radius: 0%;
    width: 100%;
    text-align: center;
    &:hover{
        @include btn-main;
        border-radius: 0%;
      }
}
.btn-disabled {
    @include btn-dark;
    border-radius: 0%;
    width: 100%;
    text-align: center;
    background-color: $medium-color;
 
}




@media screen and (min-width: 200px) and (max-width: 800px){
    .wrapper-cardPay{
        margin-left:0px;
    }
    .btn-order {
        width: 100%;
        margin-left: 0px;
        font-size: $minfont-size;
    }
    .row-pay {
        font-size: $minfont-size;
        .item-pay{
            h2{ font-size: $minfont-size;}
        } 
    }
}
@media screen and (max-width: 1500px) {
 .wrapper-cardPay {
     padding: 6% 6%;
 }
}
@media screen and (max-width: 931px){
    .wrapper-cardPay {
        margin: 0px;
    }

}

 