@import 'theme/mixin';
@import 'theme/variable';


.input-wrapper{
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-items: end;
    gap: 20px 5px;
    margin:50px 0px;
 
}
.input-row{
    width:85%;   
    p {
        @include error-mes;
        margin: 40px;      
    }
}
.panel-row{
    align-items: flex-end;
    display: flex;
    padding-right: 10%;

    .btn-panel{
        @include btn-main;
        margin-left:auto;
    }
}
@media screen and (max-width: 450px) {

            .input-wrapper{
                display: block;

                .input-row{
                    width:100%;
                } 
            }
            h1{
                &::after{
                    width:100%;
                }
            }
            .panel-row{
                padding-right:0px;
            }
        }
    

