@import 'theme/mixin';
@import 'theme/variable';

.wrapper-userpanel{
    @include wrapper;
    padding:0px;
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1500px;
    margin: 70px auto 50px auto;
   

}
.customer-account-content
{
    h1 {
        font-size: $bigfont-size;
        margin-bottom:25px;
        position: relative;
        font-weight: 600;
        color: $purple-color;

        &::after{
         
            position: absolute;
            content: '';
            height: 2px;
            bottom: -10px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            background: $light-color;       
        }   
    }
    .input-wrapper{
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 20px 5px;
        margin-top:50px;

    }
    .input-row{
        width:80%;   
        padding:25px 0px;    
    }
}
.btnpanel-row{
    align-items: flex-end;
    display: flex;;
    .btn-panel{
        @include btn-main;
        margin-left:auto;
    }
}


