@import 'theme/mixin';
@import 'theme/variable';



.panel-list{
   color:$dark-color;
   list-style-type:none;
    margin-top: 50px;
    padding-left: 70px;
  
    .nav-items {
      cursor: pointer;
      margin:10px 0px 10px 0px;
   
    }

}


.panel-link{
    @include links;
    &.active
    {font-weight:bold;
    color:$purple-color}
 
  }
  @media screen and (max-width: 800px) {

    .panel-list{
        display:flex;
        flex-shrink: 3; 
        width:100%;
        padding-left:0px;
        justify-content: center;


        .nav-items{
          margin: 0px 40px;
          text-align:center;

        }
    }
   
  }

  @media screen and (min-width: 800px) and (max-width: 1030px) {

    .panel-list{
      padding-left:0px;
    }
  }
    
  @media screen and (max-width: 500px) {

    .panel-list{
        display:flex;
        flex-shrink: 3; 
        width:100%;
        padding:0px;

        .nav-items{
          margin: 0px ;
          text-align:center;

        }
    }
  }
  @media screen and (max-width: 360px){
  .panel-list{
    font-size:$smallfont-size;
  }
  }

      