@import 'theme/variable';
@import 'theme/mixin';

.wrapper-shop {
  @include wrapper;
  @include box-center;
  flex-wrap: wrap;
  margin-bottom: 150px;
  position: relative;
}
.products {
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 300px;
  position: relative;
 
  h3 {
    color: $light-color;
    font-weight: $bold-weight;
    margin-bottom: 3px;
  }
  .btn-filter{
  margin-left: 30px;
  }
  li {
    margin-left: 20px;
    margin-top: 40px;
  
    .section {
      @include margY;
      position: relative;
      display: block;
      padding: 0px;
      height: 330px;
      overflow: hidden;

      &:hover {
        .btn-filter {
          @include btn-second;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all 1.2s ease;
          font-size: $minfont-size;
          padding: 10px 43px;
          bottom: -50px;
          right: 50%;
          margin-left:0px;
          margin-bottom: 60px;
          letter-spacing: 4px;
          left: 50%;
          &:hover {
            @include hov-second;
          }
        }
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
       @include img-effect;
      }
    }
  }
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $bold-weight;
  color: $medium-color;
}
.btn-description {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  font-size: $bigfont-size;

  &:hover {
    background-color: $purple-color;
    color: $white-color;
    transition: all 0.9s ease;
  }
  &:visited {
    background-color: $purple-color;
    color: $white-color;
  }
}
.row-button {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1240px) {
  .wrapper-shop {
    justify-content: center;
  }
}
@media screen and (max-width: 460px){
  .wrapper-shop{
    padding:0px;
  }
  .btn-description{
    font-size: 14px;
    padding: 5px 10px 5px 10px;
  }
  .products {

    li {
      margin-left:0px;
    }
  }
    .section {
      height:200px;
    }
}