@import 'theme/variable';
@import 'theme/mixin';


.wrapper-home{
    height:600px;
    width:100%;
    margin-bottom: 100px;
        display: flex;
    @include img-position;

}
.section-main-img{
  
width:100%;
    .imgMain{
        height:700px;
        width:100%;
         object-fit: cover;
    }
}