@import 'theme/mixin';
@import 'theme/variable';

.social-list{
    list-style-type: none;
    height:40px;
    padding-left:0px;
    text-align:center;
    margin-top:40px;
    width:200px;
    @include margX;
  

   .item-list {
        padding: 0px 10px 0px 10px;
        float:left;
        margin-top:0px;
          .social-link
           {
            @include links ;
            }
            .MuiSvgIcon-root
                {
                  @include effect-icon;
                 }
            }
        }
        

